---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "py-6 sm:py-4",
      "border-t border-border",
      "flex flex-col items-center justify-between sm:flex-row-reverse",
    ]}
  >
    <Socials />
   <div class="mt-4 flex flex-row items-center justify-center space-x-4 text-sm text-skin-base/80">
        <a href="/about" class="hover:text-skin-accent hover:underline">关于我们 (About)</a>
        <span>|</span>
        <a href="/privacy" class="hover:text-skin-accent hover:underline">隐私政策 (Privacy)</a>
      </div>
  </div>
</footer>
